<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salesianos.flyschool">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlySchool">
        <activity android:name=".ui.detalles.admin.editarUsuarios.EditarUsuarioActivity"></activity>
        <activity android:name=".ui.detalles.admin.detallePiloto.DetallePilotoActivity" />
        <activity android:name=".ui.detalles.admin.detalleAeronave.DetalleAeronaveActivity" />
        <activity android:name=".ui.detalles.admin.detalleAdmin.DetalleAdminActivity" />
        <activity android:name=".ui.detalles.piloto.detalleAeronave.PilotoDetalleAeronaveActivity" />
        <activity
            android:name=".ui.menu.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.FlySchool.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>